.s-filter-sortable-outer{
    min-width: 270px;
    overflow-y: auto;
    max-height: 152px;
    margin-left: 15px;
    vertical-align: top;
    display: inline-block;
}
.s-filter-sortable{
    margin: 0;
    list-style: none;
    display: inline-block;
}
.s-filter-sortable .filter-item{
    /*width: 300px;*/
    cursor: move;
    font-size: 90%;
    margin: 0 0 5px;
    min-width: 220px;
    padding: 7px 10px;
    display: list-item;
    background: #fafafa;
    border: 1px solid #ddd;
}
.s-filter-sortable .filter-placeholder{
    /*width: 320px;*/
    height: 30px;
    margin: 0 0 5px;
    background: #fff;
    min-width: 220px;
    border: 1px dashed #b4b9be;
}

.s-filter-placeholder{
    /*width: 320px;*/
    min-height: 15px;
    margin: 3px 0 3px 5px;
    min-width: 50px;
    background: #fafafa;
    border: 1px dashed #b4b9be;
    padding: 3px 20px 3px 5px;
}
.s-filter-handle{
    cursor: move;
    opacity: 0.6;
}
.s-filter-handle:hover,
.s-filter-handle:focus{
    opacity: 1;
}