<?xml version="1.0" encoding="utf-8"?>
<config>
	<fields addfieldpath="/administrator/components/com_phocamaps/models/fields">
		
		<fieldset name="general" label="COM_PHOCAMAPS_CONFIG_HEAD_GENERAL_LABEL">
		
		<field name="map_type" type="list" default="2" label="COM_PHOCAMAPS_FIELD_MAP_TYPE_LABEL" description="COM_PHOCAMAPS_FIELD_MAP_TYPE_DESC">
	<option value="1">COM_PHOCAMAPS_GOOGLE_MAPS</option>
	<option value="2">COM_PHOCAMAPS_OPENSTREETMAP</option>
</field>

<field name="marker_clustering" type="radio" class="btn-group btn-group-yesno" default="0" label="COM_PHOCAMAPS_FIELD_MARKER_CLUSTERING_LABEL" description="COM_PHOCAMAPS_FIELD_MARKER_CLUSTERING_DESC">
	<option value="0">COM_PHOCAMAPS_NO</option>
	<option value="1">COM_PHOCAMAPS_YES</option>
</field>		
		</fieldset>
		
		<fieldset name="googlemaps" label="COM_PHOCAMAPS_CONFIG_HEAD_GOOGLE_MAPS_LABEL">
	
	<field name="enable_kml" type="radio" class="btn-group btn-group-yesno" default="0" label="COM_PHOCAMAPS_FIELD_ENABLE_KML_FILE_LOADING_LABEL" description="COM_PHOCAMAPS_FIELD_ENABLE_KML_FILE_LOADING_DESC">
	<option value="0">COM_PHOCAMAPS_NO</option>
	<option value="1">COM_PHOCAMAPS_YES</option>
</field>

	
	<field name="display_print_route" type="radio" class="btn-group btn-group-yesno" default="1" label="COM_PHOCAMAPS_FIELD_DISPLAY_PRINT_ROUTE_LABEL" description="COM_PHOCAMAPS_FIELD_DISPLAY_PRINT_ROUTE_DESC">
	<option value="0">COM_PHOCAMAPS_NO</option>
	<option value="1">COM_PHOCAMAPS_YES</option>
</field>

<field name="enable_cache" type="radio" class="btn-group btn-group-yesno" default="0" label="COM_PHOCAMAPS_FIELD_ENABLE_CACHE_LABEL" description="COM_PHOCAMAPS_FIELD_ENABLE_CACHE_DESC">
	<option value="1">COM_PHOCAMAPS_YES</option>
	<option value="0">COM_PHOCAMAPS_NO</option>
</field>

<field name="close_opened_window" type="radio" class="btn-group btn-group-yesno" default="0" label="COM_PHOCAMAPS_FIELD_CLOSE_OPENED_WINDOW_LABEL" description="COM_PHOCAMAPS_FIELD_CLOSE_OPENED_WINDOW_DESC">
	<option value="1">COM_PHOCAMAPS_YES</option>
	<option value="0">COM_PHOCAMAPS_NO</option>
</field>

<field name="load_api_ssl" type="radio" class="btn-group btn-group-yesno" default="1" label="COM_PHOCAMAPS_FIELD_LOAD_API_SSL_LABEL" description="COM_PHOCAMAPS_FIELD_LOAD_API_SSL_DESC">
	<option value="1">COM_PHOCAMAPS_YES</option>
	<option value="0">COM_PHOCAMAPS_NO</option>
</field>

<field name="maps_api_key" default=""  type="text" label="COM_PHOCAMAPS_FIELD_MAPS_API_KEY_LABEL" description="COM_PHOCAMAPS_FIELD_MAPS_API_KEY_DESC"/>




		</fieldset>

		<fieldset name="openstreet" label="COM_PHOCAMAPS_CONFIG_HEAD_OPENSTREETMAP_LABEL">

<field name="osm_map_type" type="list" default="osm" label="COM_PHOCAMAPS_FIELD_OSM_MAP_TYPE_OSM_LABEL" description="COM_PHOCAMAPS_FIELD_OSM_MAP_TYPE_OSM_DESC">
	<option value="osm">COM_PHOCAMAPS_OPENSTREETMAP</option>
	<option value="osm_bw">COM_PHOCAMAPS_OPENSTREETMAP_BLACK_WHITE</option>
	<option value="osm_de">COM_PHOCAMAPS_OPENSTREETMAP_GERMANY</option>
	<option value="osm_fr">COM_PHOCAMAPS_OPENSTREETMAP_FRANCE</option>
	<option value="osm_hot">COM_PHOCAMAPS_HUMANITARIAN_OPENSTREETMAP</option>
	<option value="thunderforest">COM_PHOCAMAPS_THUNDERFOREST_API_KEY_NEEDED</option>
	<option value="mapbox">COM_PHOCAMAPS_MAPBOX_API_KEY_NEEDED</option>
	<option value="opentopomap">COM_PHOCAMAPS_OPENTOPOMAP</option>
	<option value="wikimedia">COM_PHOCAMAPS_WIKIMEDIA_MAPS</option>
	
</field>
		
<field name="thunderforest_map_type" default=""  type="text" label="COM_PHOCAMAPS_FIELD_THUNDERFOREST_MAP_TYPE_OSM_LABEL" description="COM_PHOCAMAPS_FIELD_THUNDERFOREST_MAP_TYPE_OSM_DESC"/>



<field name="osm_zoom_control" type="radio"  class="btn-group btn-group-yesno" default="1" label="COM_PHOCAMAPS_FIELD_ENABLE_ZOOM_CONTROL_BUTTON_LABEL" description="COM_PHOCAMAPS_FIELD_ENABLE_ZOOM_CONTROL_BUTTON_DESC">
	<option value="1">COM_PHOCAMAPS_YES</option>
	<option value="0">COM_PHOCAMAPS_NO</option>
</field>

<field name="osm_zoom_wheel" type="radio" class="btn-group btn-group-yesno" default="1" label="COM_PHOCAMAPS_FIELD_ENABLE_MOUSE_WHEEL_ZOOM_LABEL" description="COM_PHOCAMAPS_FIELD_ENABLE_MOUSE_WHEEL_ZOOM_DESC">
	<option value="1">COM_PHOCAMAPS_YES</option>
	<option value="0">COM_PHOCAMAPS_NO</option>
</field>
<field name="osm_current_position" type="radio"  class="btn-group btn-group-yesno" default="1" label="COM_PHOCAMAPS_FIELD_DISPLAY_CURRENT_POSITION_BUTTON_LABEL" description="COM_PHOCAMAPS_FIELD_DISPLAY_CURRENT_POSITION_BUTTON_DESC">
	<option value="1">COM_PHOCAMAPS_YES</option>
	<option value="0">COM_PHOCAMAPS_NO</option>
</field>

<field name="osm_full_screen" type="radio"  class="btn-group btn-group-yesno" default="1" label="COM_PHOCAMAPS_FIELD_DISPLAY_FULL_SCREEN_BUTTON_LABEL" description="COM_PHOCAMAPS_FIELD_DISPLAY_FULL_SCREEN_BUTTON_DESC">
	<option value="1">COM_PHOCAMAPS_YES</option>
	<option value="0">COM_PHOCAMAPS_NO</option>
</field>

<field name="osm_search" type="radio"  class="btn-group btn-group-yesno" default="0" label="COM_PHOCAMAPS_FIELD_DISPLAY_SEARCH_BUTTON_LABEL" description="COM_PHOCAMAPS_FIELD_DISPLAY_SEARCH_BUTTON_DESC">
	<option value="1">COM_PHOCAMAPS_YES</option>
	<option value="0">COM_PHOCAMAPS_NO</option>
</field>

<field name="osm_easyprint" type="radio"  class="btn-group btn-group-yesno" default="0" label="COM_PHOCAMAPS_FIELD_DISPLAY_PRINT_BUTTON_BUTTON_LABEL" description="COM_PHOCAMAPS_FIELD_DISPLAY_PRINT_BUTTON_BUTTON_DESC">
	<option value="1">COM_PHOCAMAPS_YES</option>
	<option value="0">COM_PHOCAMAPS_NO</option>
</field>


<field name="phocahead1" type="phocahead" default="COM_PHOCAMAPS_ROUTING_SETTINGS_LABEL" label="" description=""/>		


<field name="osm_router" type="radio"  class="btn-group btn-group-yesno" default="0" label="COM_PHOCAMAPS_FIELD_ENABLE_ROUTING_OSM_LABEL" description="COM_PHOCAMAPS_FIELD_ENABLE_ROUTING_OSM_DESC">
	<option value="1">COM_PHOCAMAPS_YES</option>
	<option value="0">COM_PHOCAMAPS_NO</option>
</field>
<field name="osm_router_profile" default=""  type="text" label="COM_PHOCAMAPS_FIELD_MAP_ROUTER_PROFILE_OSM_LABEL" description="COM_PHOCAMAPS_FIELD_MAP_ROUTER_PROFILE_OSM_DESC"/>

<field name="osm_router_routerserviceurl" default=""  type="text" label="COM_PHOCAMAPS_FIELD_MAP_ROUTER_SERVICE_URL_OSM_LABEL" description="COM_PHOCAMAPS_FIELD_MAP_ROUTER_SERVICE_URL_OSM_DESC"/>

<field name="osm_map_router_api_key" default=""  type="text" label="COM_PHOCAMAPS_FIELD_MAP_ROUTER_API_KEY_OSM_LABEL" description="COM_PHOCAMAPS_FIELD_MAP_ROUTER_API_KEY_OSM_DESC"/>
		
<field name="osm_map_router_type" type="list" default="" label="COM_PHOCAMAPS_FIELD_OSM_MAP_ROUTER_TYPE_OSM_LABEL" description="COM_PHOCAMAPS_FIELD_OSM_MAP_ROUTER_TYPE_OSM_DESC">
	<option value="">COM_PHOCAMAPS_NONE</option>
	<option value="mapbox">COM_PHOCAMAPS_MAPBOX_API_KEY_NEEDED</option>
	
</field>

		</fieldset>

        <fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
            <field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" filter="rules" validate="rules" component="com_phocamaps" section="component"/>
        </fieldset>
	
	</fields>
</config>
