/*Bootstrap CheckList*/
.form-check .form-check-input, 
#adminForm input[type="checkbox"] .form-check-input, 
#adminForm input[type="radio"] .form-check-input {
     margin-left: 0;
     margin-right: 0.2rem;
}
/*Button Bootsrap 4 und 5 Compatiblility*/
.badge-primary {background:$primary; color:#fff}
.badge-secondary {background:$secondary; color:#fff}
.badge-success {background:$success; color:#fff}
.badge-warning {background:$warning; color:#fff}
.badge-info {background:$info; color:#fff}
.badge-danger {background:$danger; color:#fff}
.btn-primary {background:$primary; color:#fff}
.btn-secondary {background:$secondary; color:#fff}
.btn-success {background:$success; color:#fff}
.btn-warning {background:$warning; color:#fff}
.btn-info {background:$info; color:#fff}
.btn-danger {background:$danger; color:#fff}
.btn-light {background:$light; color:$dark}
.btn-dark {background:$dark; color:$light}


.btn-outline-primary {color:$primary!important}
.btn-outline-secondary {color:$secondary!important}
.btn-outline-success { color:$success!important}
.btn-outline-warning { color:$warning!important}
.btn-outline-info { color:$info!important}
.btn-outline-danger { color:$danger!important}

.btn-outline-primary:hover {color:#fff!important}
.btn-outline-secondary:hover {color:#fff!important}
.btn-outline-success:hover { color:#fff!important}
.btn-outline-warning:hover { color:#fff!important}
.btn-outline-info:hover { color:#fff!important}
.btn-outline-danger:hover { color:#fff!important}

.btn-primary:hover,.btn-secondary:hover,.btn-success:hover,.btn-warning:hover,.btn-info:hover,.btn-danger:hover {color:#FFF}

 .row > * {
     position: relative;
}
 .float-left{
    float:left
}
 .float-right{
    float:right
}
 b, strong {
     font-weight: bold;
}
/*Frontend Button*/
 a.jmodedit:after{
     font-family: "Font Awesome 5 Free";
     content: "EDIT";
     color:#ff0000;
     font-size:14px;
     height:20px;
     display:inline-block !important;
}
/* Iphone Submenu*/
 .nav-child.unstyled.dropdown-menus:not(.menu_open) {
    display:none;
}
/* No Padding for Stacked Seperated Header */
 .astroid-header-section .astroid-stacked-seperated-header .header-stacked-inner {
     padding:0;
}
/* Astroid Overrides */
 .com-finder > * + *, .com-finder__results > * + * {
     margin-top: 0;
}
 a{
    text-decoration:none !important
}
.readmore a.btn {color:#fff}

 .astroid-section {
    background:none
}

.form-control {
     height: calc(1.1em + 14px);
     font-size: 14px;
     font-weight: 300;
}
.btn{
    font-weight:300
}
.search .form-group {
     margin-bottom: 0;
}
.search .form-control {
    padding:2px
}
.btn-outline-dark{
    border-color:#eee
}
 .form-signin .forget-password-link {
     font-weight: 300;
     font-size: 14px;
}
 .form-check {
     padding-left: 0;
}
 .astroid-logo img {
     max-width: 100%;
     max-height: 100%;
}
 .item-image {
    padding-bottom:10px
}
 .card, .article-wraper-inner, .card-layout {
     background-color: transparent;
     background-clip: border-box;
     border: none;
}
 .article-wraper-inner {
     box-shadow: none!important;
}
 .card-body {
    padding:0 !important
}
 .astroid-header-section {
     box-shadow: none !important;
}
 .article-wraper-inner {
     box-shadow: none !important;
}
 .article-wraper-inner {
     border: none !important;
}
 .card-body {
     padding: 0;
}
 .astroid-header-section header.astroid-header:not(.astroid-header-sticky) {
     padding: 0;
}
 .astroid-header-section .astroid-header-sticky > div {
     padding-top: 0;
     padding-bottom: 0;
}
 .footer-section .astroid-row {
     padding: 0;
}
 .astroid-component-section {
     padding:0;
}
 .breadcrumb {
     display: flex;
     flex-wrap: wrap;
     padding: 0;
     margin-bottom: 0;
     list-style: none;
     background-color: transparent;
     border-radius:0;
}
 li {
    padding:2px 0
}
 a.span.nav-title{
     display: inline-block;
    /* For IE11/ MS Edge bug */
     pointer-events: none;
     text-decoration: none;
     cursor: text !important;
}
/*Sidebar Layout*/
 .astroid-header .astroid-sidebar-block-1 {
     margin-bottom: 0;
}
 body.header-sidebar-left {
    overflow-y:scroll;
    position:relative
}
 .astroid-content.has-sidebar {
     height: auto;
}
/*Shadow Disabled for Boxed Layout*/
 .astroid-layout.astroid-layout-boxed .astroid-wrapper {
     box-shadow: 0 0 5px $light;
}
/*End Astroid Override*/

/* Search Form Override*/
 .form-control, #adminForm .controls > textarea, #adminForm .controls > select, #adminForm .controls > input[type="text"], #adminForm .controls > input[type="password"], #adminForm .controls > input[type="datetime"], #adminForm .controls > input[type="datetime-local"], #adminForm .controls > input[type="date"], #adminForm .controls > input[type="month"], #adminForm .controls > input[type="time"], #adminForm .controls > input[type="week"], #adminForm .controls > input[type="number"], #adminForm .controls > input[type="email"], #adminForm .controls > input[type="url"], #adminForm .controls > input[type="search"], #adminForm .controls > input[type="tel"], #adminForm .controls > input[type="color"], #adminForm .controls > .uneditable-input, #adminForm .controls .field-calendar input[type="text"], #adminForm .controls .field-media-input {
     box-shadow: none;
     border-color: $light;
}
/* Media Queries ========================================================================== */
 @media (max-width: 768px) {
     .container{
        max-width: 98%;
    }
}
/* Module Style */
 .shadow-light{
     -moz-box-shadow: 10px 10px rgba($light, 0.6);
     -webkit-box-shadow: 10px 10px rgba($light, 0.6);
     box-shadow: 10px 10px rgba($light, 0.6);
     border: 1px solid rgba($light, 0.6);
}
 .shadow-dark{
     -moz-box-shadow: 10px 10px rgba($dark, 0.6);
     -webkit-box-shadow: 10px 10px rgba($dark, 0.6);
     box-shadow: 10px 10px rgba($dark, 0.6);
     border: 1px solid rgba($dark, 0.6);
}
/*Headline Artikel Title */
 .item-title,
 .module-title {
     margin-bottom:2rem
}
 .headline-border .item-title {
     position:relative;
     padding-bottom:1.2rem;
     border-bottom:1px solid #ccc;
     margin-bottom:1.2rem;
}
 .headline-border .item-title::after {
     bottom: 0;
     content: "";
     height: 2px;
     left: 0;
     position: absolute;
     width: 100px;
     background-color: $primary !important;
     border: none;
}
/*Headline Border Modules 
 .headline-border .module-title {
     position:relative;
     padding-bottom:1.2rem;
     border-bottom:1px solid #ccc;
     margin-bottom:1.9rem;
	 border: none;

}
 .headline-border .module-title::after {
     bottom: 0;
     content: "";
     height: 2px;
     left: 0;
     position: absolute;
     width: 100px;
     background-color: $primary !important;
     border: none;
}
*/
/* Headlines Border 30 40 50*/
 .headline-border-30 .module-title, 
 .headline-border-40 .module-title, 
 .headline-border-50 .module-title {
     position:relative;
     padding-bottom:0.9rem;
	 border:none;
}
 .headline-border-30 .module-title::after {
     bottom: 0;
     content: "";
     height: 3px;
     left: 0;
     position: absolute;
     width: 30%;
     background-color: $primary !important;
     border: none;
}
 .headline-border-40 .module-title::after {
     bottom: 0;
     content: "";
     height: 3px;
     left: 0;
     position: absolute;
     width: 40%;
     background-color: $primary !important;
     border: none;
}
 .headline-border-50 .module-title::after {
     bottom: 0;
     content: "";
     height: 3px;
     left: 0;
     position: absolute;
     width: 50%;
     background-color: $primary !important;
     border: none;
}
/* Headlines Big*/
 .headline-big .module-title{
     font-size:36px !important;
}
/* Headlines Color*/
 .headline-primary.module-title{
     color:$primary !important;
}
 .headline-secondary .module-title{
     color:$secondary !important;
}
 .headline-success .module-title{
     color:$success !important;
}
 .headline-info .module-title{
     color:$info !important;
}
 .headline-warning .module-title{
     color:$warning !important;
}
 .headline-danger .module-title{
     color:$danger !important;
}
 .headline-light .module-title{
     color:$light !important;
}
 .headline-dark .module-title{
     color:$dark !important;
}
/* Headlines Backgound*/
 .headline-bg-primary .module-title{
     background:$primary !important;
     color:$light!important;
     padding:6px 10px!important;
}
 .headline-bg-secondary .module-title{
     background:$secondary !important;
     color:$light!important;
     padding:6px 10px!important;
}
 .headline-bg-success .module-title{
     background:$success !important;
     color:$light!important;
     padding:6px 10px!important;
}
 .headline-bg-info .module-title{
     background:$info !important;
     color:$light!important;
     padding:6px 10px!important;
}
 .headline-bg-warning .module-title{
     background:$warning !important;
     color:$light!important;
     padding:6px 10px!important;
}
 .headline-bg-danger .module-title{
     background:$danger !important;
     color:$light!important;
     padding:6px 10px!important;
}
 .headline-bg-light .module-title{
     background:$light !important;
     color:$dark!important;
     padding:6px 10px!important;
}
 .headline-bg-dark .module-title{
     background:$dark !important;
     color:$light!important;
     padding:6px 10px!important;
}
/* Headlines Border*/
 .headline-border-primary .module-title{
     border-bottom: 1px solid $primary !important;
     padding:6px 0;
}
 .headline-border-secondary .module-title{
     border-bottom: 1px solid $secondary !important;
     padding:6px 0;
}
 .headline-border-success .module-title{
     border-bottom: 1px solid $success !important;
     padding:6px 0;
}
 .headline-border-info .module-title{
     border-bottom: 1px solid $info !important;
     padding:6px 0;
}
 .headline-border-dark .module-title{
     border-bottom: 1px solid $dark !important;
     padding:6px 0;
}
 .headline-border-danger .module-title{
     border-bottom: 1px solid $danger !important;
     padding:6px 0;
}
 .headline-border-warning .module-title{
     border-bottom: 1px solid $warning !important;
     padding:6px 0;
}
 .headline-border-light .module-title{
     border-bottom: 1px solid $light !important;
     padding:6px 0;
}
/* Headlines Bullet*/
 .headline-bullet .module-title::before {
     content: "";
     display: inline-block;
     position: relative;
     top: calc(-0.1 * 1em);
     vertical-align: middle;
     height: calc(4px + 0.7em);
     margin-right: calc(5px + 0.2em);
     border-left: calc(5px + 0.1em) solid $primary;
}
/* Headlines Center*/
 .headline-center .module-title {
     text-align: center !important;
}
 .headline-center-border .module-title {
     overflow: hidden;
     text-align: center;
     padding: 20px 0;
     margin-bottom: 20px;
     border-bottom: none;
     font-size:36px;
     font-weight:300;
}
 .headline-center-border .module-title::after {
     content: "";
     display: block;
     margin: 0 auto;
     width: 40%;
     position:relative;
     padding-top: 0;
     border-bottom: 1px solid $headings-color;
}
/*Horizontal Menu*/
 ul.uk-subline {
     display:inline-block!important;
     display: flex!important;
     flex-wrap: wrap!important;
}
 ul.uk-subline li {
     padding:0 6px;
     float:left;
}
/*Helper*/
 .text-white * {
    color:#fff !important
}
 .text-dark * {
    color:#000 !important
}
/*Uikit Slider*/
 .uk-card-primary {
    background:$primary
}
 .uk-card-white {
    background:$white
}
/*Uikit Switcher*/
 .uk-tab > .uk-active > a {
     color: #333;
     border-color: $primary!important;
}
/*HR Styles*/
 hr.primary {
     padding: 5px 0;
     border:none;
     border-bottom: solid 3px $primary!important;
     font-weight: bold;
     position: relative;
     margin-bottom: 8px;
     width: 200px;
     margin: 0 auto;
     margin-top: 0px;
     margin-bottom: 0px;
     margin-bottom: 50px;
     margin-top: 30px;
}
 hr.primary::after {
     content: '';
     border-bottom: solid 3px $primary!important;
     width: 100px;
     position: absolute;
     bottom: -20px;
     left: 0;
     right: 0;
     margin: 0 auto;
}
 hr.secondary {
     border:none;
     padding: 5px 0;
     border-bottom: solid 3px $secondary!important;
     font-weight: bold;
     position: relative;
     margin-bottom: 8px;
     width: 200px;
     margin: 0 auto;
     margin-top: 0px;
     margin-bottom: 0px;
     margin-bottom: 50px;
     margin-top: 30px;
}
 hr.secondary::after {
     content: '';
     border-bottom: solid 3px $secondary!important;
     width: 100px;
     position: absolute;
     bottom: -20px;
     left: 0;
     right: 0;
     margin: 0 auto;
}
 hr.success {
     border:none;
     padding: 5px 0;
     border-bottom: solid 3px $success!important;
     font-weight: bold;
     position: relative;
     margin-bottom: 8px;
     width: 200px;
     margin: 0 auto;
     margin-top: 0px;
     margin-bottom: 0px;
     margin-bottom: 50px;
     margin-top: 30px;
}
 hr.success::after {
     content: '';
     border-bottom: solid 3px $success!important;
     width: 100px;
     position: absolute;
     bottom: -20px;
     left: 0;
     right: 0;
     margin: 0 auto;
}
 hr.info {
     border:none;
     padding: 5px 0;
     border-bottom: solid 3px $info!important;
     font-weight: bold;
     position: relative;
     margin-bottom: 8px;
     width: 200px;
     margin: 0 auto;
     margin-top: 0px;
     margin-bottom: 0px;
     margin-bottom: 50px;
     margin-top: 30px;
}
 hr.info::after {
     content: '';
     border-bottom: solid 3px $info!important;
     width: 100px;
     position: absolute;
     bottom: -20px;
     left: 0;
     right: 0;
     margin: 0 auto;
}
 hr.warning {
     border:none;
     padding: 5px 0;
     border-bottom: solid 3px $warning!important;
     font-weight: bold;
     position: relative;
     margin-bottom: 8px;
     width: 200px;
     margin: 0 auto;
     margin-top: 0px;
     margin-bottom: 0px;
     margin-bottom: 50px;
     margin-top: 30px;
}
 hr.warning::after {
     content: '';
     border-bottom: solid 3px $warning!important;
     width: 100px;
     position: absolute;
     bottom: -20px;
     left: 0;
     right: 0;
     margin: 0 auto;
}
 hr.danger {
     border:none;
     padding: 5px 0;
     border-bottom: solid 3px $danger!important;
     font-weight: bold;
     position: relative;
     margin-bottom: 8px;
     width: 200px;
     margin: 0 auto;
     margin-top: 0px;
     margin-bottom: 0px;
     margin-bottom: 50px;
     margin-top: 30px;
}
 hr.danger::after {
     content: '';
     border-bottom: solid 3px $danger!important;
     width: 100px;
     position: absolute;
     bottom: -20px;
     left: 0;
     right: 0;
     margin: 0 auto;
}
 hr {
     opacity: 1;
	 padding:0 !important;
}

 hr.light {
     background-color: $light!important;
}
 hr.dark {
     background-color: $dark!important;
}
/* Video Iframe ========================================================================== */
 .responsive-iframe iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     max-height:300px;
}
 .responsive-iframe {
     position: relative;
     padding-top: 0px;
     height: 0;
     overflow: hidden;
     margin:0 0;
}

/* Start Sidebar Menu Active List*/
ul.list-inline li.active a::after {
	display:none}

li.current a span.nav-title::after {
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 700!important;
  content: "ï“"!important;
  padding-left: 4px!important;
}
/* End Sidebar Menu Active List*/


/*Start Frontend Edit Modus von Dirk*/
.form-control {
  height: unset;
  font-size: 14px;
  font-weight: 300;
}
.btn-toolbar {
  display: block;
}
[role="tooltip"]:not(.show) {
  right: 5em;
  z-index: 1070;
  display: none;
  max-width: 100%;
  padding: 0.5em;
  margin: 0.5em;
  color: black;
  text-align: start;
  background: white;
  border: 1px solid #6d757e;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
}
/*End Frontend Edit Modus von Dirk*/

/* Suche Component Dirk*/
.input-group {
    position: relative;
    display: contents;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.btn-primary, .btn-backtohome, .btn-prosandcons, div.jd-register-login-wrapper .jd-register-login-box .jd-button-control .jd-form-button {
    margin-top: unset;
}
.form-control, #adminForm .controls > textarea, #adminForm .controls > select, #adminForm .controls > input[type="text"], #adminForm .controls > input[type="password"], #adminForm .controls > input[type="datetime"], #adminForm .controls > input[type="datetime-local"], #adminForm .controls > input[type="date"], #adminForm .controls > input[type="month"], #adminForm .controls > input[type="time"], #adminForm .controls > input[type="week"], #adminForm .controls > input[type="number"], #adminForm .controls > input[type="email"], #adminForm .controls > input[type="url"], #adminForm .controls > input[type="search"], #adminForm .controls > input[type="tel"], #adminForm .controls > input[type="color"], #adminForm .controls > .uneditable-input, #adminForm .controls .field-calendar input[type="text"], #adminForm .controls .field-media-input {
    height: calc(1.8em + 14px);
    font-size: 14px;
    font-weight: 300;
}
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: calc($input-border-width * -1);
  border-top-left-radius: 0.375em;
  border-bottom-left-radius: 0.375em;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375em;
}
.btn-secondary {
  --bs-btn-border-color: rgba(221, 221, 221, 0);
}
/*End Component Dirk */
