#adminForm {
	margin: 0 0 0 0 !important;
}

/* Columns*/
.ph-image {
	text-align:center;
	width: 10%;
}
.ph-title {
	width: 60%;
}

.ph-title-stat {
	width: 10%;
}
.ph-filename-stat {
	width: 50%;
}

.ph-map {
	width: 20%;
}

.ph-title-short {
	width: 30%;
}
.ph-filename-long {
	width: 50%;
}
.ph-count {
	width: 5%;
}

.ph-page {
	width: 5%;
}

.ph-functions,
.ph-id,
.ph-check,
.ph-ordering {
	width: 1%;
}

.ph-plugincode-td {
color: #999;
	font-size: small;
}

.ph-right {
	text-align: right !important;
}
.ph-center {
	text-align: center !important;
}

.ph-uploaduser {
	width: 7%;
	white-space: nowrap;
}
.ph-owner,
.ph-rating,
.ph-hits,
.ph-language,
.ph-published,
.ph-approved {
	width: 5%;
}
.ph-user,
.ph-parentcattitle {
	width: 15%;
}
.ph-filename,
.ph-access {
	width: 10%;
}


.ph-multiple-table tr td.ph-img-table {
	text-align: center;
	padding-top: 4px;
}
.ph-icon {
	margin: 0;
	padding: 5px;
	float: left;
	margin: 0 auto;
	text-align: center;
}
.ph-icon-inside.thumbnail {
	width: 100px;
	height: 100px;
	-webkit-border-radius: 0px;
    border-radius: 0px;
	background: #fdfdfd;
}
.ph-icon-inside.thumbnail img {
	margin-top: 10px;
	margin-bottom: -12px;
}
.ph-icon-inside.thumbnail span {
}

.ph-head-form-small,
.ph-head-form {
	font-weight: bold;
}
.ph-head-form {
		margin-bottom: 10px;
}
.ph-in {
	padding: 5px;
}

.ph-w80 {
	width: 80%;
}
.dl-horizontal.ph-input dt {
	float: left;
	clear: left;
	margin-right: 20px;
	text-align: left;
	width: auto;
}
.dl-horizontal.ph-input dd{
}

.ph-cpanel-left {
	float: left;
	width: 50%;
}
.ph-cpanel-right {
	float: right;
	width: 50%;
}

#configTabs li a img {
	margin-top: -3px;
}

.ph-head-form-small,
.ph-head-form {
	font-weight: bold;
}
.ph-head-form {
		margin-bottom: 10px;
}
.ph-in {
	padding: 5px;
}

.ph-w80 {
	width: 80%;
}
.dl-horizontal.ph-input dt {
	float: left;
	clear: left;
	margin-right: 20px;
	text-align: left;
	width: auto;
}
.dl-horizontal.ph-input dd{
}

div.icon-48-info {
	background: url('../../images/icon-48-info.png') no-repeat left;
}
div.icon-48-phoca {
	background: url('../../images/icon-48-phoca.png') no-repeat left;
}
div.icon-48-phocamaps {
	background: url('../../images/icon-48-phocamaps.png') no-repeat left;
}
div.icon-48-maps {
	background: url('../../images/icon-48-map.png') no-repeat left;
}
div.icon-48-markers {
	background: url('../../images/icon-48-marker.png') no-repeat left;
}

div.icon-48-icons {
	background: url('../../images/icon-48-icon.png') no-repeat left;
}







a img, img {border:0px;text-decoration:none;}

.p-noscript {
	text-align:	center;
	background:	#ffcc00;
	padding:	10px;
}

#phocamaps .p-add-address {
	margin-top: 10px;
}

.license {
	text-align:justify;
	font-size: 9px;
}

.phoca-adminform {
	background-color: #fff;
	border: solid 1px #d5d5d5;
	padding:10px;
}

/*form*/
input.pmreadonly {
	background: #f0f0ee;
	color: #777;
}

input.pmreadonly:focus,
input.pmreadonly:hover
	{
	background: #f0f0ee;
	color: #777;
}

.p-add-address {
	margin-top: 10px;
}



/* CP Info */
.ph-box-cp {
	display: flex;
}

.ph-left-cp {
	flex-basis: 50%;
}

.ph-right-cp {
	flex-basis: 50%;
}


/* CP Icons, Joomla! Font Icons */
.ph-cp-item-box {
	display: flex;
	flex-wrap: wrap;
}


.ph-cp-item-box .ph-cp-item {
	width: 7rem;
	margin: 0 0.7em 1.4em 0.7em;
}

.ph-cp-item-icon {
	background: #fff;
	border-radius: 5px;

	width: 7rem;
	height: 7rem;
	text-align: center;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;

	border: 0;
	background-image: linear-gradient(-45deg,#ffffff,#ffffff);
    box-shadow: 1px 2px 1px 0 rgba(0,0,0,.15);
}

.ph-cp-item-icon-link {
	width: 7rem;
	height:7rem;
	display: flex;
}

.ph-cp-item-icon-link,
.ph-cp-item-icon-link:hover,
.ph-cp-item-icon-link:active,
.ph-cp-item-icon-link:visited,
.ph-cp-item-icon-link:focus {
	color: #A6AAB1;
	text-decoration: none;
}

.ph-cp-item-icon-link span {
	border: 0px;
	box-shadow: none;
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	text-align: center;
}

.ph-cp-item-icon-link:hover {
	border: 0px;
	box-shadow: none;
}

.ph-cp-item-icon-link-large {
	font-size: 2.6rem;
	width: 2.6rem;
	height:2.6rem;

	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.ph-cp-item-title {

	display:block;
	font-size: 0.95em;
	margin: 0 auto;
	margin-top: 0.1em;
	text-align: center
}

.ph-cp-item-icon-link-large {
   text-shadow:
   -2px -2px 0 #575757,
    2px -2px 0 #575757,
    -2px 2px 0 #575757,
     2px 2px 0 #575757;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.ph-cp-item-icon-link-large {
		/*-webkit-text-stroke: 2px #575757;*/
		text-shadow: none;
	}
}
@-moz-document url-prefix() {
	.ph-cp-item-icon-link-large {
		/*-webkit-text-stroke: 2px #575757;*/
		text-shadow: none;
	}
}

.ph-cp-item-icon-link-large:before {
	font-family: 'JoomlaFont' !important;
}

.ph-cp-item [class^="icon-"],
.ph-cp-item [class*=" icon-"] {
    display: inline;
    width: auto;
    height: auto;
    margin-right: auto;
    line-height: 1;
}

.ph-cp-item [class^="icon-"].duotone:after, .ph-cp-item [class*=" icon-"].duotone:after {
  opacity: 0.6;
}


.pha-toolbox {
	width: 4rem;
}
.pha-toolbox a {
	display: inline-block;
	margin: 0.1em;
	margin-bottom: 0.3em;
	padding: 0;
	font-weight: bold;
}

.pha-no-underline,
.pha-no-underline:hover {
	text-decoration: none;
}

.ph-cp-item {
	text-align: center;
}

.ph-cp-item [class^="icon-"].phi-fs-s,
.ph-cp-item [class*=" icon-"].phi-fs-s {
	font-size: 1rem;
	width: 1rem;
	height: 1rem;
	display: inline-block;
	margin: auto;
}

.ph-cp-item [class^="icon-"].phi-fs-m,
.ph-cp-item [class*=" icon-"].phi-fs-m {
	font-size: 1.4rem;
	width: 1.4rem;
	height: 1.4rem;
	display: inline-block;
	margin: auto;
}
.ph-cp-item [class^="icon-"].phi-fs-l,
.ph-cp-item [class*=" icon-"].phi-fs-l {
	font-size: 3.6rem;
	width: 3.6rem;
	height: 3.6rem;
	display: inline-block;
	margin: auto;
}
.phi-fc-bl {color: #3f72af}
.phi-fc-bd {color: #112d4e}
.phi-fc-rl {color: #e23e57}
.phi-fc-rd {color: #CC1020}
.phi-fc-yl {color: #ffde7d}
.phi-fc-yd {color: #ffc314}
.phi-fc-brl{color: #D2BDA9}
.phi-fc-brd{color: #996633}
.phi-fc-od {color: #ff9a00}
.phi-fc-gd {color: #378137}
.phi-fc-gl {color: #62bc62}


.phi-mirror:before,
.phi-mirror:after {
	display:inline-block;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.nav.nav-tabs .ph-cp-item .phi:before,
.nav.nav-tabs .ph-cp-item .phi:after {
	margin-top: 0.2em;
}


.js-stools .js-stools-container-bar .btn-wrapper {
	margin: 0 3px;
	padding: 3px 0px;
 }

 .ph-info-item .icon-minus-circle {
	 color: #a94442;
 }
 .ph-info-item .icon-success {
	 color: #3c763d;
 }



#phAdminEdit .form-horizontal .tab-content {
	position: relative;
}

.ph-admin-additional-box {

	position: absolute;
	top: 0.3em;
	right: 0.3em;
	padding: 1em;
	/*background: #f0f0f0;*/
	/*z-index: 1;*/
}
.ph-admin-additional-box-img-box {
	text-align: center;
}

.ph-admin-additional-box img {
	margin: 0 auto;
}

.ph-float-right {
	float: right;
}


/* List Box */

.ph-item-list-box {

	display:flex;
	flex-wrap: wrap;
}

.ph-item-list-box-admin .ph-item-box:hover {
	border: 1px solid #3f72af;
	background: #fcfcfc;
}

.ph-item-box {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0.5em;
	border: 1px solid #f0f0f0;
	border-radius: 3px;
	width: 9em;
	height: 11em;
	padding: 0.5em;
	text-align: center;
	background-image: linear-gradient(-45deg,#ffffff,#ffffff);
    box-shadow: 1px 2px 1px 0 rgba(0,0,0,.15);


}

.ph-item-image {
	flex-grow: 1;
	background: #fcfcfc;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}


.ph-item-action-box {
	text-align: right;
}


.ph-item-list-box-head {
	font-size:large;
	font-weight:bold;
}
.ph-item-list-box-hr {
	border-bottom: 3px solid #f0f0f0;
	margin-bottom: 1em;
	margin-top: 1em;
	clear:both;
}


/* Loading */
.ph-lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ph-lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #129ED9;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.ph-lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: ph-lds-ellipsis1 0.6s infinite;
}
.ph-lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: ph-lds-ellipsis2 0.6s infinite;
}
.ph-lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: ph-lds-ellipsis2 0.6s infinite;
}
.ph-lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: ph-lds-ellipsis3 0.6s infinite;
}
@keyframes ph-lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ph-lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes ph-lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


/* css conflict */
.phi.icon-featured:before {
	color: #ffc93c
}


.js-stools .js-stools-container-bar .btn-wrapper {
	margin: 0 3px;
	padding: 3px 0px;
 }


#phAdminEdit .form-horizontal .tab-content {
	position: relative;
}

.ph-admin-additional-box {

	position: absolute;
	top: 0.3em;
	right: 0.3em;
	padding: 1em;
	background: #f0f0f0;
	max-width: 20em;
	/*z-index: 1;*/
}
.ph-admin-additional-box-img-box {
	text-align: center;
}

.ph-admin-additional-box img {
	margin: 0 auto;
}

.ph-float-right {
	float: right;
}

.ph-cpanel-logo img {
    transform: scale(0.6);
    transform-origin: 0 50%;
}

.ph-msg-success {
    color: #fff;
    background-color: #28A745;
    padding: 5px;
}
.ph-info-modal {
    float: left;
}

.icon-ph-earth:before {
	font-family: 'JoomlaFont' !important;
	content: "\13c52";
	color: #fff;
	display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: .25em;
    line-height: 14px;

}







/* Additional Box */
.ph-admin-additional-box-img-box {
	text-align: center;
	border: 1px solid #f0f0f0;
	border-radius: 3px;
	padding: 0.25rem;
	background: #fff;
	display:inline-block;
	margin: 0 auto;
}

.ph-admin-additional-box-img-box img {
	margin: 0 auto;
}

.ph-admin-additional-box {

	float: right;
	width: 35%;
	border-radius: 0.25em;
	margin: 0 0 0 0.75em;
	padding: 0.5em;
	background:#ffde7d;

}

@media (max-width: 768px) {
	.ph-admin-additional-box {
		float: none;
		width: 100%;
		margin: 0 0 0.75em 0;
	}
}


/* CP Info */
.ph-box-info {
	background: #fff;
	padding: 1em;
}
.ph-box-cp {
	display: flex;
}

.ph-left-cp {
	flex-basis: 55%;
}

.ph-right-cp {
	flex-basis: 45%;
}

@media (max-width: 768px) {
	.ph-box-cp { display:block;}
}

.ph-cp-hr {
	border-top: 3px solid #eee;
	margin-bottom: 1em;
}
.ph-cpanel-logo img {
	/*transform: scale(0.6);
	transform-origin: 0 50%;*/
	max-width: 70%;
	height: auto;
}

.ph-cpanel-logo-seal {
	float: right;
	margin: 0.7em;
}
.ph-cpanel-logo-seal img {
	width: 90%;
	height: auto;
}


/* CP Icons, Joomla! Font Icons */
.ph-cp-item-box {
	display: flex;
	flex-wrap: wrap;
}


.ph-cp-item-box .ph-cp-item {
	width: 7rem;
	margin: 0 0.7em 1.4em 0.7em;
}

.ph-cp-item-icon {
	background: #fff;
	border-radius: 5px;

	width: 7rem;
	height: 7rem;
	text-align: center;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;

	border: 0;
	background-image: linear-gradient(-45deg,#ffffff,#ffffff);
    box-shadow: 1px 2px 1px 0 rgba(0,0,0,.15);
}

.ph-cp-item-icon-link {
	width: 7rem;
	height:7rem;
	display: flex;
}

.ph-cp-item-icon-link,
.ph-cp-item-icon-link:hover,
.ph-cp-item-icon-link:active,
.ph-cp-item-icon-link:visited,
.ph-cp-item-icon-link:focus {
	color: #A6AAB1;
	text-decoration: none;
}

.ph-cp-item-icon-link span {
	border: 0px;
	box-shadow: none;
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	text-align: center;
}

.ph-cp-item-icon-link:hover {
	border: 0px;
	box-shadow: none;
}

.ph-cp-item-icon-link-large {
	font-size: 2.6rem;
	width: 2.6rem;
	height:2.6rem;

	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.ph-cp-item-title {

	display:block;
	font-size: 0.95em;
	margin: 0 auto;
	margin-top: 0.1em;
	text-align: center
}

.ph-cp-item-icon-link-large {
   text-shadow:
   -2px -2px 0 #575757,
    2px -2px 0 #575757,
    -2px 2px 0 #575757,
     2px 2px 0 #575757;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.ph-cp-item-icon-link-large {
		/*-webkit-text-stroke: 2px #575757;*/
		text-shadow: none;
	}
}
@-moz-document url-prefix() {
	.ph-cp-item-icon-link-large {
		/*-webkit-text-stroke: 2px #575757;*/
		text-shadow: none;
	}
}

.ph-cp-item-icon-link-large:before {
	font-family: 'JoomlaFont' !important;
}

.ph-cp-item [class^="icon-"],
.ph-cp-item [class*=" icon-"] {
    display: inline;
    width: auto;
    height: auto;
    margin-right: auto;
    line-height: 1;
}

.ph-cp-item [class^="icon-"].duotone:after, .ph-cp-item [class*=" icon-"].duotone:after {
  opacity: 0.6;
}


.pha-toolbox {
	width: 4rem;
}
.pha-toolbox a {
	display: inline-block;
	margin: 0.1em;
	margin-bottom: 0.3em;
	padding: 0;
	font-weight: bold;
}

.pha-no-underline,
.pha-no-underline:hover {
	text-decoration: none;
}

.ph-cp-item {
	text-align: center;
}

.ph-cp-item [class^="icon-"].phi-fs-s,
.ph-cp-item [class*=" icon-"].phi-fs-s {
	font-size: 1rem;
	width: 1rem;
	height: 1rem;
	display: inline-block;
	margin: auto;
}

.ph-cp-item [class^="icon-"].phi-fs-m,
.ph-cp-item [class*=" icon-"].phi-fs-m {
	font-size: 1.4rem;
	width: 1.4rem;
	height: 1.4rem;
	display: inline-block;
	margin: auto;
}
.ph-cp-item [class^="icon-"].phi-fs-l,
.ph-cp-item [class*=" icon-"].phi-fs-l {
	font-size: 3.6rem;
	width: 3.6rem;
	height: 3.6rem;
	display: inline-block;
	margin: auto;
}
.phi-fc-bl {color: #3f72af}
.phi-fc-bd {color: #112d4e}
.phi-fc-rl {color: #e23e57}
.phi-fc-rd {color: #CC1020}
.phi-fc-yl {color: #ffde7d}
.phi-fc-yd {color: #ffc314}
.phi-fc-brl{color: #D2BDA9}
.phi-fc-brd{color: #996633}
.phi-fc-od {color: #ff9a00}
.phi-fc-gd {color: #378137}
.phi-fc-gl {color: #62bc62}


.phi-mirror:before,
.phi-mirror:after {
	display:inline-block;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.nav.nav-tabs .ph-cp-item .phi:before,
.nav.nav-tabs .ph-cp-item .phi:after {
	margin-top: 0.2em;
}


.js-stools .js-stools-container-bar .btn-wrapper {
	margin: 0 3px;
	padding: 3px 0px;
 }

 .ph-info-item .icon-minus-circle {
	 color: #a94442;
 }
 .ph-info-item .icon-success {
	 color: #3c763d;
 }

 .ph-si-tab {
	width: 1.1em;
	height: 1.1em;
}
.pd-icon-category {color: #F9C74F;}


#adminForm .table tr th {
	font-size: small;
}

.ph-recommended-settings-table tr.alert.alert-danger {
    border: 0;
}
.ph-recommended-settings-table tr td [class^="icon-"].duotone:before,
.ph-recommended-settings-table tr td [class*=" icon-"].duotone:before{
    position: relative;
}

.ph-cb {
	clear:both;
}
.ph-cp-logo-footer {
	float:right;
	margin: 0.5em;
}
.ph-cp-btn-update {
	float: left;
	margin: 0 0.3em 0.3em 0;
}
